<footer class="footer-area section-padding-lr-2 bg-gray">
    <div class="container-fluid">
        <div class="footer-top section-padding-9">
            <div class="row mb-n6">
                <div class="col-34 mb-6">
                    <div class="footer-widget footer-logo">
                        <a href="/index.html"><img loading="lazy" src="https://www.vieco.cn/NEW/assets/images/logo/logo-6.png" alt=""></a>
                    </div>
                </div>
                <div class="col-22-5 mb-6">
                    <div class="footer-widget footer-list">
                        <ul>
                            <li><a>地址：广东省广州市南沙区</a></li>
                            <li><a>市南大道黄阁段230号乐天云谷</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-24 mb-6">
                    <div class="footer-widget footer-list">
                        <ul>
                            <li><a>vieco_china@vieco.cn</a></li>
                            <li><a>020-39391381</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-19-5 mb-6">
                    <div class="footer-widget footer-list">
                        <ul>
                            <li><a>关注我们</a></li>
                        </ul>
                        <div class="social-icon">
                            <a href="#"><img loading="lazy" class="injectable" src="assets/images/home/icon-img/weixin.png" style="height: 25px;" alt=""></a>
                            <a href="#"><img loading="lazy" class="injectable" src="assets/images/home/icon-img/weibo.png" style="height: 25px;" alt=""></a>
                            <a href="#"><img loading="lazy" class="injectable" src="assets/images/home/icon-img/douyin.png" style="height: 25px;" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom copyright border-top-1 text-center">
            Copyright &copy; <span id="displayYear"></span> 广东省绿糖科技有限公司 版权所有 |  为您提供健康生活
            <a href="http://beian.miit.gov.cn/" >粤ICP备16081891号</a>
        </div>
    </div>
</footer>