<header class="header-area section-padding-lr-1 transparent-bar header-padding-tb sticky-bar sticky-white-bg">
    <div class="container-fluid">
        <div class="row align-items-center">
           <div class="col-4"></div>
            <div class="col-4">
                <div class="logo text-center">
                    <a href="/index.html"><img src="/assets/images/logo/logo-2.png" alt="logo"></a>
                </div>
            </div>
            <div class="col-4">
                <div class="header-action-wrap">
                    <div class="header-action-menu">
                        <a class="menu-active-button" href="#">
                            <span class="info-width-1"></span>
                            <span class="info-width-2"></span>
                            <span class="info-width-3"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="off-canvas-active">
    <a class="off-canvas-close"><i class="las la-times"></i></a>
    <div class="off-canvas-wrap">
        <div class="menu-wrap">
            <div id="menu" class="slinky-mobile-menu text-left">
                <ul>
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#">产品系列</a>
                        <ul>
                            <li><a href="/product/product-list2.html">田园系列</a></li>
                            <li><a href="/product/product-list3.html">品质系列</a></li>
                            <li><a href="/product/product-list1.html">简爱系列</a></li>
                            <li><a href="/checkout.html">产品问答</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">关于我们</a>
                        <ul>
                            <li><a href="/shop.html">品牌介绍</a></li>
                            <li><a href="/shop-collection.html">发展历程</a></li>
                            <li><a href="/shop-fullwidth.html">荣誉奖项</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">资质认证</a>
                        <ul>
                            <li><a href="/blog.html">国家标准</a></li>
                            <li><a href="/blog-details.html">国际标准</a></li>
                            <li><a href="#">发明专利</a></li>
                            <li><a href="#">实用新型专利</a></li>
                            <li><a href="#">外观专利</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>